# Xcode
#
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
#
.build/
Packages/
Package.pins
Package.resolved
# Xcode 11+
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
.swiftpm/

# Cocoapods
#
Pods/

# Carthage
#
Carthage/Build/

# Fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Mac
#
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Thumbnails
._*
Thumbs.db

# Temporary Files
*~

# Backup Files
*.swp
*.swo